body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

input[type="datetime-local"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px; /* Ajusta el ancho según sea necesario */
    margin-bottom: 10px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background-color: #28a745; /* Color verde */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838; /* Color verde oscuro al pasar el mouse */
}

#timezones {
    text-align: center;
    margin-top: 20px;
}